* {
    margin: 0
}

:focus {
    background: pink;
}



/**********************************SURPRISEBUTTON********************************/
/**********************************SURPRISEBUTTON********************************/
button {
    display: block;
    font-size: 1em;
    color: white;
    background-color: black;
    ;
    border: white 2px solid;
    padding: 5px 5px;
    border-radius: 20px;
    margin: auto auto;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    border: hotpink 2px dashed;
}

/**********************************SURPRISEBUTTON********************************/
/**********************************SURPRISEBUTTON********************************/









/**********************************NAVBAR********************************/
/**********************************NAVBAR********************************/
nav {
    position: sticky;
    top: 0;
    background: black;
}

nav.toggle {
    background-color: hotpink;
}


nav ul {
    list-style-type: none;
    padding: 0;
}


nav a {
    font-family: 'Comfortaa';
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;

}


nav a:hover {
    background-color: white;
    color: black;
}

/**********************************NAVBAR********************************/
/**********************************NAVBAR********************************/




body {
    margin: 0;
    font-family: 'Comfortaa';
    background-color: black;
    color: white;
}




/******************************* SHOWCASE 1 ********************************/
/******************************* SHOWCASE 1 ********************************/
/* voor de achtergrondafbeelding met tekst heb ik deze tutorial gebruikt: https://www.youtube.com/watch?v=hVdTQWASliE&feature=youtu.be */

#showcase1 {

    background-image: url("../images/wearemahabe.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

#showcase h1 {
    font-size: 2em;
}


#showcase1 h2 {
    text-decoration: overline;
}

#showcase1 h2:first-letter {
    color: black
}






#showcase1 .soundcloudbutton {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    border: white 2px solid;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;

    transform: rotate(360deg);
    transition-timing-function: cubic-bezier(2, .5, .3, 1.40);
}

#showcase1 .soundcloudbutton:hover {
    color: hotpink;
    border: orange 2px dashed;
    border-radius: 50% 20% / 10% 40%;

    background-color: orange;
    transition-duration: 1s;
    transform: rotate(12deg);
}


#showcase1 .soundcloudbutton:active {
    background: red;
}

/******************************* SHOWCASE 1 ********************************/
/******************************* SHOWCASE 1 ********************************/










/*************************** tekst sections ************************/
/*************************** tekst sections ************************/
#section-a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 14px;
    padding: 30px;
    background-color: white;
    color: black;
    text-align: left;
}


#section-b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 40px;
    color: white;
    text-align: left;
}

#section-c {
    padding: 7em;
    background-color: white;
    color: black;
    text-align: left;
}

#section-c:last-line {
    text-decoration: underline;
}

/*************************** tekst sections ************************/
/*************************** tekst sections ************************/









/******************************** video ********************************/
/******************************** video ********************************/
.fullscreen-video-wrap video {
    max-width: 100%;
    max-height: 100%;
}
/******************************** video ********************************/
/******************************** video ********************************/















/*********************************FORM************************************/
/*********************************FORM************************************/
form {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    padding: 1em 5em;
}



form:focus-within {
    background-color: hotpink;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    transition: all .2s;
    padding: 1em;
    background: gray;
}

input,
textarea {
    width: 100%
}


input:focus {
    transform: scale(1.03)
}

#submit-button {
    display: block;
    font-size: em;
    color: white;
    background-color: black;
    border: white 2px solid;
    padding: 5px 5px;
    border-radius: 20px;
    margin-bottom: 2em;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
}

#submit-button:hover {
    border: hotpink 2px dashed;
}

/*********************************FORM************************************/
/*********************************FORM************************************/








/*********************************EVENTS**********************************/
/*********************************EVENTS**********************************/
/*BRON: https://www.youtube.com/watch?v=h5K9O6FkIp0*/
.events {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
}


.events:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    mix-blend-mode: difference;
}

.events:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    mix-blend-mode: difference;
    transition: 1s;
    transition-timing-function: cubic-bezier(1.000, 0.250, 0.425, -0.600);

}

.events:hover:after {
    left: 0%;
}

.events h1 {
    color: white;
}

.events h2 {
    color: white;
}

.events li {
    color: white;
}

.events a {
    color: white;
}

/*********************************EVENTS**********************************/
/*********************************EVENTS**********************************/





/*******************************FOOTER************************************/
/*******************************FOOTER************************************/
footer {

    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center
}

.div1 {
    padding: 1em;
    background: white;
}

.fbbutton {
    color: black;
    font-size: 2em;
}

.fbbutton:hover {
    color: blue;
}


.div2 {
    padding: 1em;
    background: black;
}

.scbutton {
    color: white;
    font-size: 2em;
}

.scbutton:hover {
    color: orange;
}


.div3 {
    padding: 1em;
    background: white;
}

.igbutton {
    color: black;
    font-size: 2em;
}

.igbutton:hover {
    color: mediumvioletred;

}


.div4 {
    font-size: 2em;
    padding: 1.5em;
    background: black;
    grid-column: 1/4;
    color: white;
    text-align: left;
}



/*css voor footer in events pagina (anders staat de footer bovenaan (ik snap niet waarom)*/
.eventsfooter {
    position: absolute;
}

/*******************************FOOTER************************************/
/*******************************FOOTER************************************/








/*******************************MEDIAQUERIES************************************/
/*******************************MEDIAQUERIES************************************/
@media (orientation: portrait) {}


@media (min-width: 600px) {
    p {
        font-size: 1.3rem;
        padding-left: 1em;
        padding-right: 1em;
    }

    h1 {
        text-align: center;
    }

    #section-c {
        padding-left: 11em;
        padding-right: 11em;
    }

    nav {
        font-size: 1.5em;
    }

    video {
        min-width: 100%;
        min-height: 100%;
    }

    footer {
        font-size: 0.7em;
    }

}

/*******************************MEDIAQUERIES************************************/
/*******************************MEDIAQUERIES************************************/
